<div class="container">
  <em><h1>Summary</h1></em>
  <hr>
  <div class="form-group row mb-2">
    <label class="col-md-2 col-form-label" >Last Name : {{summary.lastName}}</label>
  </div>
  <div class="form-group row mb-2">
    <label class="col-md-2 col-form-label" >First Name : {{summary.firstName}}</label>
  </div>
  <div class="form-group row mb-2">
    <label class="col-md-2 col-form-label" >Address : {{summary.address}}</label>
  </div>
  <div class="form-group row mb-2">
    <label class="col-md-2 col-form-label" >Email : {{summary.email}}</label>
  </div>
  <div class="form-group row mb-2">
    <label class="col-md-2 col-form-label" >Phone: {{summary.phone}}</label>
  </div>
</div>